#nav {
    z-index: 200;
}

.stickToTop {
    z-index:6;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
}

.navlogo {
    height: 100%;
    margin: 10px auto;
}


.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #2e88bf;
    padding: 0;
    height: 50px;
    margin: 0 auto 10px;
    z-index: 200;
    border-bottom: 1px solid #212121;
    -webkit-box-shadow: 0 0 6px #212121;
    -moz-box-shadow: 0 0 6px #212121;
    box-shadow: 0 0 6px #212121;
}

.stickToTop input {
    width: 30%;
    max-width: 300px;
    height: 32px;
    font-size: 1em;
    margin-right: 1%;
    margin-top: 9px;
    border: 1px solid #212121;
    padding: 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    min-width: 220px;
    float: right;
    animation:fadeIn 2000ms;
    -webkit-animation:fadeIn 2000ms;
    background: url("{@this}/img/search.png") 5px 5px no-repeat #FFFFFF;
    background-size: 20px 20px;
    opacity: 1;

}

@media all and (max-width: 450px) {

}

.navigation .content{
    min-width: 320px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align:center;
}

.optbutton {
    text-align: center;
    float: left;
    display: inline-block;
    width: 40px;
}

.searchButton {
    text-align: center;
    float: right;
    margin-right: 10px;
    display: inline-block;
    width: 40px;
}

.actionIcon {
    float: right;
    font-size: 1.4em;
    color: #ffffff;
    margin-right: 25px;
    line-height: 50px;
    text-align: center;
    height: 60px;
    vertical-align: middle;
}