#profile {
    width: 100%;
}

.profile {
    width: 100%;
}

.profile .profileTop {
    height: 20%;
    background: red;
    width: 100%;
}
.profile .profileButtons {
    height: 20%;
    width: 100%;
    background: blue;
}