#profile {
    width: 100%;
}

.profile {
    width: 100%;
}

.profile .profileTop {
    height: 100px;
    background: red;
    width: 100%;
}
.profile .profileButtons {
    height: 50px;
    width: 100%;
    background: blue;
}