#profile {
    width: 100%;
}

.profile {
    width: 100%;
}

.profile .profileTop {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.profile .profileTop .profilePicture {
    float: left;
    width: 30%;
    height:100%;
}

.profile .profileTop .profileInfo {
    float: right;
    width: 70%;
    height:100%;
    padding: 20px;
    text-align: left;
}

.profile .profileTop .profileInfo .username {
    font-weight: bold;
    color: #2e88bf;
}


.profile .profileButtons {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    font-size: 1.4em;
}

.profile .profileButtons .profileButton {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: 25%;
    height: 100%;
    float: left;
    border-right: 1px solid #e8e8e8;
}